* {
  box-sizing: border-box;
}
.container {
  max-width: 987px;
  max-width: 0 auto;
 
}
#example-1 {
  display: flex;
 flex-wrap: wrap;
 justify-content: space-between;
}
#example-1 article {
  flex: 0 0 49%;
display: flex;
flex-direction: row-reverse;
box-shadow: 3px 3px 10px black;
border-radius: 10px;
margin-bottom: 10px;
}

#example-1 article .article-content {

   justify-content: flex-start; 
  display: flex;
  flex-direction: column;
  padding: 10px;
}
#example-1 article img {
  width: 30%;
}
