#one {
  background-color: gray;
}
#two{
  background-color: gray;
}
#tree{
  background-color: grey;
}
#four{
  background-color: grey;
}
#fives{
  background-color: grey;
}
#table{
  background-color: gray;
}
#hours{
  background-color: aqua;
}
#name{
  background-color: gray;
}
#html{
  background-color: gray;
}
#css{
  background-color: gray;
}
#nazik{
  background-color: darkcyan;
}
#sezim{
  background-color: gainsboro;
}
#like{
  background-color: gainsboro;
}
#polo{
  background-color: gainsboro;
}
#kill{
  background-color: gray;
}