
  * {
    box-sizing: border-box;
  }
  html, body {
    align-items: center;
    background: linear-gradient(45deg, #001148, #8c0649);
    display: flex;
    justify-content: center;
    margin: 0;
    min-height: 100vh;
    padding: 0;
    width: 100vw;
  }
  div {
    box-shadow: 5px 10px 10px 5px rgba(192, 2, 2, 0);
    background: rgb(255, 255, 255);
    border-radius: 100%;
    height: 50px;
    margin: 40px;
    width: 50px;
  }
  div {
    animation: example 2s ease 1s both infinite;
  }
  @keyframes example {
    0% {
      transform: translate(-25vw, 0);
    }
    50% {
      transform: translate(0, -20vh);
    }
    100% {
      transform: translate(25vw, 0);
    }
  }